# WEB APP CON PYTHON

![cover](../images/cover.jpg)

## 驴Qu茅 es Flask?

Flask es un framework minimalista escrito en Python que permite crear aplicaciones web r谩pidamente y con un m铆nimo n煤mero de l铆neas de c贸digo

### Doc de Flask

- https://flask.palletsprojects.com/en/1.1.x/

###Otros frameworks

- https://www.streamlit.io/
- https://fastapi.tiangolo.com/

##Introducci贸n a los decoradores

###驴Qu茅 son los decoradores?

Los decoradores son en s铆 mismos funciones, que toman como argumento una funci贸n y retornan otra funci贸n. 
Funciones que a帽aden "funcionalidades" a otras funciones.
Realmente son 3 funciones:
A, B Y C
Donde:
A es una funci贸n que recibe como par谩metro B para devolver C

### Estructura

In [51]:
def funci贸n_decorador(funci贸n): 
    def funci贸n_interna(): 
        #c贸digo de la funci贸n interna
        pass
    return funci贸n_interna

#funci贸n_decorador = Funci贸n A
#funci贸n = Funci贸n B
#funci贸n_interna = #Funci贸n C

In [52]:
import random

In [53]:
def ras(fn):
    def wrapper():
        #acciones adicionales que decoran
        frase = random.choice(["Ya es viernes,", "Parfavar", "Quesemacerraozoom", "Muy disfruton", "Subete al cobete"])
        return f"{frase} {fn()}"
    return wrapper

In [54]:
@ras
def randomName():
    return random.choice(["Sheriff", "Ignacio", "Fer", "Alumnado"])

In [55]:
print(randomName())

Ya es viernes, Ignacio

#### 隆隆Hag谩moslo!! 
- Crea una funci贸n b谩sica que realice una suma, resta o alguna funcionalidad muy sencilla.
- Crea un decorador que imprima un mensaje por pantalla cada vez que esa funci贸n es llamada

In [56]:
def operaciones(fn):
    def multiply():
        operacion = 5 * (5 + 3)**2
        return f" {operacion} {fn()}"
    return multiply

In [57]:
@operaciones
def suma():
    return 5 + 5

In [58]:
print(suma())

 320 10

## Vamos a crear una API

API significa interfaz de programaci贸n de aplicaciones.
Las API permiten que sus productos y servicios se comuniquen con otros, sin necesidad de saber c贸mo est谩n implementados.
Vamos a utilizar una API como elemento intermediario entre una base de datos y un usuario que quiere consultarla sin saber programaci贸n.

###All谩 vamos

In [59]:
from flask import Flask, request
app = Flask (_name_)

@app.route("/")
def inicial():
    return "Hola Mundo"



if _name_ == '_main_':
    app.run(debug=False)

NameError: name '_name_' is not defined

## Datos en Base de datos para Mongo

In [60]:
!kaggle datasets download -d eward96/harry-potter-and-the-philosophers-stone-script

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /home/sergio/.kaggle/kaggle.json'
Downloading harry-potter-and-the-philosophers-stone-script.zip to /home/sergio/iron_flask/notebooks
  0%|                                               | 0.00/24.6k [00:00<?, ?B/s]
100%|| 24.6k/24.6k [00:00<00:00, 8.50MB/s]

In [61]:
!tar -xzvf harry-potter-and-the-philosophers-stone-script.zip

tar: Esto no parece un archivo tar
tar: Saltando a la siguiente cabecera

gzip: stdin: invalid compressed data--length error
tar: Child returned status 1
tar: Error is not recoverable: exiting now

In [62]:
!rm -rf harry-potter-and-the-philosophers-stone-script.zip

In [63]:
!ls

clase_APIs_1.ipynb  llamadas_API.ipynb

In [64]:
!mv hp_script.csv ../data/hp_script.csv

mv: no se puede efectuar `stat' sobre 'hp_script.csv': No existe el archivo o el directorio

In [1]:
import pandas as pd
data = pd.read_csv('/home/sergio/Descargas/characters.csv',encoding='cp1252')
data.head()

,name,height,mass,hair_color,skin_color,eye_color,birth_year,gender,homeworld,species
0,Luke Skywalker,172.0,77,blond,fair,blue,19BBY,male,Tatooine,Human
1,C-3PO,167.0,75,NaN,gold,yellow,112BBY,NaN,Tatooine,Droid
2,R2-D2,96.0,32,NaN,"white, blue",red,33BBY,NaN,Naboo,Droid
3,Darth Vader,202.0,136,none,white,yellow,41.9BBY,male,Tatooine,Human
4,Leia Organa,150.0,49,brown,light,brown,19BBY,female,Alderaan,Human

In [66]:
data.drop('ID_number',axis='columns', inplace=True)

In [67]:
data.head()

,scene,character_name,dialogue
0,1,Albus Dumbledore,"I should have known that you would be here, Pr..."
1,1,Minerva McGonagall,"Good evening, Professor Dumbledore. Are the ru..."
2,1,Albus Dumbledore,"I'm afraid so, Professor. The good, and the bad."
3,1,Minerva McGonagall,And the boy?
4,1,Albus Dumbledore,Hagrid is bringing him.

In [68]:
data.to_json("../data/script_hp_json", orient="records")

In [70]:
#mongoimport --db HP --collection frases --jsonArray script_hp_json